{
  "KEYVAULT_ENDPOINT": "https://ipad-service-kv-ci.vault.azure.net/",
  "AzureAd": {
    "ClientId": "d83c2116-0a79-4a0d-8276-d51cdb4a6fd6",
    "ClientSecret": "Fill in here or preferrably in ASP.NET Secret Manager"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}
