# Frontend
frontend/node_modules/
frontend/out/

#Backend
backend/*/bin
backend/*/obj
backend/*/appsettings.Development.json

# Python
venv

# Editors
.vs/
.vscode
.idea
*.user

# Environment variables
.env

# Cypress
frontend/cypress/videos
frontend/cypress/screenshots
