version: "3.7"
services:
  frontend:
    build: frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      - API_URL=http://localhost:5000
      - AD_CLIENT_ID=d83c2116-0a79-4a0d-8276-d51cdb4a6fd6
  backend:
    build: backend
    ports:
      - "5000:5000"
    environment:
      - BUILD_MODE=development
      - KEYVAULT_ENDPOINT=https://ipad-service-kv-ci.vault.azure.net/
      - AzureAd__ClientId=d83c2116-0a79-4a0d-8276-d51cdb4a6fd6
      - AzureAd__ClientSecret="${ClientSecret}"
