apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: fusion-app-ipad
spec:
  environments:
    - name: dev
      build:
        from: main
    - name: prod
      build:
        from: prod

  components:
    - name: frontend
      src: frontend
      ports:
        - name: http
          port: 3000
      publicPort: http
      environmentConfig:
        - environment: dev
          resources:
            requests:
              memory: "300Mi"
              cpu: "50m"
            limits:
              memory: "3000Mi"
              cpu: "1000m"
          variables:
            API_URL: "https://backend-fusion-app-ipad-dev.playground.radix.equinor.com"
          runAsNonRoot: true

    - name: backend
      src: backend
      ports:
        - name: http
          port: 5000
      publicPort: http
      environmentConfig:
        - environment: dev
          resources:
            requests:
              memory: "300Mi"
              cpu: "50m"
            limits:
              memory: "3000Mi"
              cpu: "1000m"
          runAsNonRoot: true
      secrets:
        - AzureAd__ClientSecret
